@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #24292d;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wallet-adapter-button-trigger{
  background-color: #363b3e !important;
  border: 1px solid #222222  !important;
  color: white !important;
  border-radius: 10px !important;
}

/* global.css or your component CSS file */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
}

.fade-in {
  animation: fadeIn 0.8s ease-in-out forwards;
}
